<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Index Page</title>
</head>
<body>


<table class="table table-hover">
    <thead>
    <tr>
        <th>Application Id</th>
        <th>Amka Number</th>
        <th>Birthdate</th>
        <th>Address</th>
        <th>Year of Unemployment</th>
        <th>Imgname</th>
        <th>Application status</th>
        <th>Id of application owner</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="ap:${applica}">
        <td th:text="${ap.aid}"></td>
        <td th:text="${ap.amkanumber}"></td>
        <td th:text="${ap.birthdate}"></td>
        <td th:text="${ap.address}"></td>
        <td th:text="${ap.yearofunemployment}"></td>
        <td th:text="${ap.imgname}"></td>
        <td th:text="${ap.applicationstatus}"></td>
        <td th:text="${ap.user.getId}"></td>
    </tr>
    </tbody>
</table>
<a href="/oaed/confirmation/accept"><input type="button" value="confirm" id="acceptbtn" ></a>
<a href="/oaed/confirmation/deny"><input type="button" value="deny" id="denybtn" ></a>
</body>
</html>
